{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">

  <h2 class="section-title">
    {{ publications.title }}
  </h2>

  {% if publications.intro %}
  <div class="intro">
    {{ publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for publication in publications.papers %}
  <div class="item">
    <div class="publication-title">{{ publication.title | markdownify }}</div>
    <div class="publication-conference">{{ publication.conference | markdownify}}</div>
    <div class="publication-authors">{{ publication.authors | markdownify }}</div>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
